<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hr.dao.InterviewDao">
	<insert id="add" parameterType="org.hr.pojo.Interview"
		useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into interview(subject,text,remark,interviewinfoId)
			values(#{subject},#{text},#{remark},#{interviewinfoId})
	</insert>
	
	<update id="update" parameterType="org.hr.pojo.Interview">
		update interview set subject = #{subject},text = #{text},remark = #{remark},interviewinfoId = #{interviewinfoId}
			where id = #{id}
	</update>
	
	<delete id="deleteByIds" parameterType="java.lang.reflect.Array">
		delete from interview where id in
		<foreach collection="array" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<sql id="conditionSql">
		<if test="condition != null">
			<where>
			</where>
		</if>
	</sql>
	
	<select id="getAll" resultType="org.hr.pojo.Interview">
		select * from interview
	</select>
	
	<select id="getById" parameterType="int" resultType="org.hr.pojo.Interview">
		select * from interview where id = #{id}
	</select>
	
	<select id="getListByCondition" resultType="org.hr.pojo.Interview">
		select * from interview
			<include refid="conditionSql"></include>
		order by ${column} ${orderBy}
			limit #{start},#{limit}
	</select>
	<select id="getCountByCondition" resultType="int">
		select count(1) from interview
			<include refid="conditionSql"></include>
	</select>
</mapper>