<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hr.dao.TrialInfoDao">
	<insert id="add" parameterType="org.hr.pojo.TrialInfo"
		useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into trialInfo(trialperiod,trialwage,trialoperant,trialexpire,contractinfoId)
			values(#{trialperiod},#{trialwage},#{trialoperant},#{trialexpire},#{contractinfoId})
	</insert>
	
	<update id="update" parameterType="org.hr.pojo.TrialInfo">
		update trialInfo set trialperiod = #{trialperiod},trialwage = #{trialwage},trialoperant = #{trialoperant},trialexpire = #{trialexpire},contractinfoId = #{contractinfoId}
			where id = #{id}
	</update>
	
	<delete id="deleteByIds" parameterType="java.lang.reflect.Array">
		delete from trialInfo where id in
		<foreach collection="array" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<sql id="conditionSql">
		<if test="condition != null">
			<where>
			</where>
		</if>
	</sql>
	
	<select id="getAll" resultType="org.hr.pojo.TrialInfo">
		select * from trial_Info
	</select>
	
	<select id="getById" parameterType="int" resultType="org.hr.pojo.TrialInfo">
		select * from trialInfo where id = #{id}
	</select>
	
	<select id="getListByCondition" resultType="org.hr.pojo.TrialInfo">
		select * from trialInfo
			<include refid="conditionSql"></include>
		order by ${column} ${orderBy}
			limit #{start},#{limit}
	</select>
	<select id="getCountByCondition" resultType="int">
		select count(1) from trialInfo
			<include refid="conditionSql"></include>
	</select>
</mapper>